# documentation: https://github.blog/2017-07-06-introducing-code-owners/
.coveragerc @swillner
.editorconfig @rgieseke @swillner @znicholls
.github/main.workflow @swillner
.readthedocs.yml @swillner
CODE_OF_CONDUCT.rst @rgieseke @swillner @znicholls
CONTRIBUTING.rst @rgieseke @swillner @znicholls
LICENSE @rgieseke @swillner @znicholls
MANIFEST.in @rgieseke @swillner @znicholls
Makefile @rgieseke @swillner
README.rst @rgieseke @swillner @znicholls
docs/sources/schema.tex @swillner
notebooks/pyam-integration.ipynb @znicholls
notebooks/timeframes.ipynb @swillner
openscm/__init__.py @rgieseke @swillner
openscm/_version.py @rgieseke
openscm/adapters/__init__.py @swillner
openscm/adapters/dice.py @swillner
openscm/core/** @swillner
openscm/scmdataframe/** @lewisjared @znicholls
setup.cfg @rgieseke @swillner @znicholls
tests/__init__.py @rgieseke @swillner @znicholls
tests/conftest.py @znicholls
versioneer.py @rgieseke
