*$py.class
*.egg-info
*.pdf
*.py[cod]
*.so
.cache
.coverage
.eggs/
.ipynb_checkpoints/
.pytest_cache
GPATH
GRTAGS
GTAGS
__pycache__/
build/
dist/
docs/_build
venv/
htmlcov/
.pyre
.pyre_configuration
.mypy_cache
*~lock*
*~$*
*.DS_Store
