[MASTER]
ignore=_version.py

[MESSAGES CONTROL]
disable=
    fixme,
    invalid-name,
    pointless-string-statement,
    too-few-public-methods,
    too-many-locals,
    # handled by black
    format

[SIMILARITIES]
min-similarity-lines=6
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
